extends ../layouts/adminCommon

block content

    h1 Trang cá nhân
    p       
    br
    table.table
            tr
                    th Ảnh đại diện
                    th Tên 
                    th Số điện thoại
                    th Địa chỉ email
                    th Sửa
                    tr
                            td 
                                    img(src="../"+ admin.avatar, width="40")
                            td=admin.name
                            td=admin.phone
                            td=admin.email
                            td
                                a.btn.btn-primary(href='/admin/'+admin._id+'/update') Sửa
