doctype html
head
  br
  br
  title Chi tiết sản phẩm
  meta(charset='utf=8')
  meta(name='viewport', content='with=device-with,initial-scale=1')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  link(rel='stylesheet', type='text/css', href='css/style.css')

.container
  nav.navbar.navbar-inverse.navbar-fixed-top
    // fix cứng ở trên top
    .container
      // Cho full  màn hình
      .navbar-header
        // class header có sắn
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#MyNavBar')
          // Tạo 1 cái icon khi thu nhỏ màn hình
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Phụ kiện Online
      #MyNavBar.collapse.navbar-collapse
        // Trượt lên trược xuống bằng icon khi màn thu nhỏ
        ul.nav.navbar-nav.navbar-left
          li.active
            a(href='/', style='font-size:15px;') Trang Chủ
          li
            a.glyphicon.glyphicon-earphone(href='#', style='font-size:15px;') Hotline: 0123456789
            
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/cart/cart')
              span.glyphicon.glyphicon-shopping-cart
              | Giỏ hàng
          li
            a(href='/users/create')
              span.glyphicon.glyphicon-user
              | Đăng ký
          // icon đăng ký
          li
            a(href='/users/login')
              span.glyphicon.glyphicon-log-in
              | Đăng nhập
.container
  h1 Chi tiết sản phẩm
  .row
    .col-md-6(style='background-color: red;')
    .col-md-6(style='background-color: orange;')
    h1 
        span(stype='color:red')=products.name
    .col-md-2(style='background-color: white;')
      img.img-responsive.img-rounded(src="../" + products.image, alt="ảnh " + products.name, width='304')
    .col-md-6(style='background-color: white;')
      img.img-responsive(src="../" + products.image, alt="ảnh " + products.name, width='400')
    
    tr  
        th
            span(style='font-size:20px', stype='color:red')="Giá: " + products.price + " đồng"
            br
        th 
            p(style='font-size:20px') Số lượng đang có: 
        th 
             a.btn.btn-primary(href="../cart/"+products._id, style='font-size:20px') Thêm vào giỏ hàng

        
      
