doctype html
head
  br
  br
  title Giỏ hàng
  meta(charset='utf=8')
  meta(name='viewport', content='with=device-with,initial-scale=1')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  link(rel='stylesheet', type='text/css', href='css/style.css')

.container
  nav.navbar.navbar-inverse.navbar-fixed-top
    // fix cứng ở trên top
    .container
      // Cho full  màn hình
      .navbar-header
        // class header có sắn
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#MyNavBar')
          // Tạo 1 cái icon khi thu nhỏ màn hình
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#') Phụ kiện Online
      #MyNavBar.collapse.navbar-collapse
        // Trượt lên trược xuống bằng icon khi màn thu nhỏ
        ul.nav.navbar-nav.navbar-left
          li.active
            a(href='/', style='font-size:15px;') Trang Chủ
          li
            a.glyphicon.glyphicon-earphone(href='#', style='font-size:15px;') Hotline: 0123456789
            
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/cart/cart')
              span.glyphicon.glyphicon-shopping-cart
              | Giỏ hàng
          li
            a(href='/users/create')
              span.glyphicon.glyphicon-user
              | Đăng ký
          // icon đăng ký
          li
            a(href='/users/login')
              span.glyphicon.glyphicon-log-in
              | Đăng nhập
br
br

table.table
  tr
    th Ảnh 
    th Tên 
    th Giá
    th Số lượng
    th Xóa
    each product in products
      tr
      td
        a(href="../productdetail/"+product._id)
          img.btn(src="../"+product.image, width="69")
      td=product.name
      td=product.price
      td=product.quantity
      td
        a.btn.btn-primary(href='/cart/'+product._id+'/delete') Xóa
  a.btn.btn-primary(href="../person/person") Thông tin cá nhân
span="Tổng tiền: "+money+" đồng"
br
br
a.btn.btn-primary(href="#") Mua hàng