h1 Đăng nhập

    form(action='/users/login', method="POST")
        .form-group
            label(for="phone") Số điện thoại
            input#phone.form-control(name="phone",type="text")

        .form-group
            label(for="password") Mật khẩu
            input#password.form-control(name="password",type="password")
        button.btn.btn-primary Gửi